/** dbapp custom theme css **/
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.blog-post-meta {
	color: #999;
	font-style: italic;
}

.comment-meta {
	color: #999;
	font-size: small;
}

footer {
	text-align: center;
}

.blog-header {
	text-align: center;
}